*.db
*.pch
*.ipch
*.vsidx
*.opendb
SolarSystemProject/Saved/ShaderDebugInfo/PCD3D_SM6/FMatExpressionPreview MaterialExpressionCustom_0_d81da9d20c1fd3b4/Default/FLocalVertexFactory/TBasePassPSFNoLightMapPolicy/0/BasePassPixelShader.usf
SolarSystemProject/Saved/ShaderDebugInfo/PCD3D_SM6/FMatExpressionPreview MaterialExpressionCustom_0_d81da9d20c1fd3b4/Default/FLocalVertexFactory/TBasePassVSFNoLightMapPolicy/0/BasePassVertexShader.usf
SolarSystemProject/Saved/ShaderDebugInfo/PCD3D_SM6/FMatExpressionPreview MaterialExpressionCustom_0_d81da9d20c1fd3b4/Default/FLocalVertexFactory/TBasePassPSFNoLightMapPolicy/0/DebugHash_4bed87b448625c6397e5b6a48a46064e8d5458cf04385c214c1b6a9580e25ef4
SolarSystemProject/Saved/ShaderDebugInfo/PCD3D_SM6/FMatExpressionPreview MaterialExpressionCustom_0_d81da9d20c1fd3b4/Default/FLocalVertexFactory/TBasePassVSFNoLightMapPolicy/0/DebugHash_96a153e93525918144825f4d6e90a34de3152506cb76abc98445ef59251e5bf9
SolarSystemProject/Saved/ShaderDebugInfo/PCD3D_SM6/FMatExpressionPreview MaterialExpressionCustom_3_d81da9d20c1fd3b4/Default/FLocalVertexFactory/TBasePassPSFNoLightMapPolicy/0/BasePassPixelShader.usf
/SolarSystemProject/Saved/ShaderDebugInfo
